<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC_4_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,2},{110,152}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{110,152}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>NPC_4_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{110,158}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{110,158}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>NPC_4_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{110,162}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{110,162}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>NPC_4_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,300},{110,136}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{110,136}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>NPC_4_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,156},{110,142}}</string>
                <key>offset</key>
                <string>{0,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{110,142}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
            <key>NPC_4_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{110,146}}</string>
                <key>offset</key>
                <string>{0,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{110,146}}</string>
                <key>sourceSize</key>
                <string>{110,166}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>monster_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56eefe7acb838efd9098a1b7eb31bc2a$</string>
            <key>textureFileName</key>
            <string>monster_2.png</string>
        </dict>
    </dict>
</plist>
